# Data files
*.tif
*.png

# Temporary/test files

# Caches and checkpoints
**/__pycache__
*/.ipynb_checkpoints
.ipynb_checkpoints

# Pytorch models/checkpoints
detection/deep_learning/models
*.pt
*.pth

# Results

